# Build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docview

# Rider
.idea/

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# OS
Thumbs.db
.DS_Store

# Backup archives
*.zip

# Logs
*.log
